<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,28}</string>
                <key>spriteSourceSize</key>
                <string>{92,28}</string>
                <key>textureRect</key>
                <string>{{91,1},{92,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,70}</string>
                <key>spriteSourceSize</key>
                <string>{34,70}</string>
                <key>textureRect</key>
                <string>{{1,369},{34,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_tree_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,70}</string>
                <key>spriteSourceSize</key>
                <string>{34,70}</string>
                <key>textureRect</key>
                <string>{{35,369},{34,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_tree_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,70}</string>
                <key>spriteSourceSize</key>
                <string>{34,70}</string>
                <key>textureRect</key>
                <string>{{69,369},{34,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_tree_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,70}</string>
                <key>spriteSourceSize</key>
                <string>{34,70}</string>
                <key>textureRect</key>
                <string>{{103,369},{34,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_tree_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,70}</string>
                <key>spriteSourceSize</key>
                <string>{34,70}</string>
                <key>textureRect</key>
                <string>{{137,369},{34,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_tree_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,70}</string>
                <key>spriteSourceSize</key>
                <string>{34,70}</string>
                <key>textureRect</key>
                <string>{{171,369},{34,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_bird_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,78}</string>
                <key>textureRect</key>
                <string>{{1,289},{91,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_bird_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,78}</string>
                <key>textureRect</key>
                <string>{{92,289},{91,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_hunker_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,60}</string>
                <key>spriteSourceSize</key>
                <string>{118,60}</string>
                <key>textureRect</key>
                <string>{{1,441},{118,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_hunker_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,60}</string>
                <key>spriteSourceSize</key>
                <string>{118,60}</string>
                <key>textureRect</key>
                <string>{{119,441},{118,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{1,97},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_normal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{89,97},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_running_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{1,193},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_running_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{89,193},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_material.png</string>
            <key>size</key>
            <string>{238,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fc64ba6e619c59aee6600c32a557ed3:ad9562cad05e493337cf15e502d6c618:394054680a8d25b27ef7e3f03115b772$</string>
            <key>textureFileName</key>
            <string>game_material.png</string>
        </dict>
    </dict>
</plist>
